root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,xml,sqx,css}]
indent_size = 2

[*.{csproj,props,targets,slnx}]
indent_size = 2

[*.cs]
# C# 命名规则
dotnet_naming_rule.types_should_be_pascalcase.severity = error
dotnet_naming_rule.types_should_be_pascalcase.symbols = types
dotnet_naming_rule.types_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.public_members_should_be_pascalcase.severity = error
dotnet_naming_rule.public_members_should_be_pascalcase.symbols = public_members
dotnet_naming_rule.public_members_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.private_fields_should_be_camelcase.severity = suggestion
dotnet_naming_rule.private_fields_should_be_camelcase.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camelcase.style = camelcase_underscore

dotnet_naming_symbols.types.applicable_kinds = class,struct,interface,enum,delegate
dotnet_naming_symbols.public_members.applicable_kinds = property,method,field,event
dotnet_naming_symbols.public_members.applicable_accessibilities = public
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.pascalcase.required_prefix =
dotnet_naming_style.pascalcase.required_suffix =
dotnet_naming_style.pascalcase.word_separator =
dotnet_naming_style.pascalcase.capitalization = pascal_case

dotnet_naming_style.camelcase_underscore.required_prefix = _
dotnet_naming_style.camelcase_underscore.required_suffix =
dotnet_naming_style.camelcase_underscore.word_separator =
dotnet_naming_style.camelcase_underscore.capitalization = camel_case

# IDE 建议
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:silent
csharp_style_expression_bodied_properties = true:suggestion